body {
    background-color: #3A0519;
  }
  
  .navbar {
    background-color: transparent !important;
    padding: 1rem 0;
  }
  
  /* NAV LINKS */
  .navbar .nav-link {
    font-size: 1.2rem;
    font-weight: 500;
    color: #FFFDF6 !important;
    padding: 0.5rem 1rem;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  /* Hover effect: underline animation */
  .navbar .nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #A4B465;
    transition: width 0.3s ease;
  }
  
  .navbar .nav-link:hover {
    color: #948979 !important;
  }
  
  .navbar .nav-link:hover::after {
    width: 100%;
  }
  
  /* NAVBAR BRAND */
  .navbar-brand {
    font-size: 1.4rem;
    font-weight: 600;
    color: #FFFDF6 !important;
  }

  .font-color{
    color: #FFFDF6;
  }
  .font-color2{
    color: #A4B465;
  }

  .zise{
    height: 250px;
    width: 600px;
  }

.linkedin{
    background-color: white !important;
    color: black;
    margin-right: 10px;
}

  .btn.linkedin:hover {
    background-color: #A4B465 !important; /* slightly darker on hover */
    color: white !important;
  }


.btn-outline-dark:hover{
    background-color: #A4B465 !important; /* slightly darker on hover */
    color: white !important;
    border: 2px solid white !important; /* <-- this sets the white outline */
}

.btn-outline-dark{
    background-color: #626F47 !important;
    color: white;
    border: 2px solid #626F47 !important;
    width: 180px;
}
